/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    font-family: "PT Serif", Georgia, serif;
}

p {
    font-size: 16pt;
    line-height: 1.2em;
    color: rgb(76 ,76, 76);
    padding: 10px;
    -webkit-font-smoothing: antialiased;
    display: block;
    -webkit-margin-before: 0.5em;
    max-width: 645px;
}

markdown h1 {
    text-align: center;
}

markdown {
    align-self: center;
}