<div style="text-align:center">
  <a routerLink="/">
    <h1 class="pageTopLink">
      {{contentService?.completePage?.title}}
    </h1>
  </a>
  <img class="headerImage" alt="Angular Logo" src="{{contentService?.currentPage?.imageUrl}}">
</div>

<markdown [data]="contentService?.currentPage?.content">
</markdown>

Inhaltsverzeichnis:
<div class="loc">
  <div class="subpage" *ngFor="let p of contentService?.completePage?.subpages">
    <a *ngIf="p.url != route" routerLink="{{p.url}}">
      <p>{{p.title}}</p>
    </a>
    <p *ngIf="p.url == route">{{p.title}}</p>
  </div>
</div>