<div style="text-align:center">
  <a routerLink="/">
    <h1 class="pageTopLink">
      {{contentService?.completePage?.title}}
    </h1>
  </a>
  <img class="headerImage" alt="Angular Logo" src="{{contentService?.currentPage?.imageUrl}}">
</div>

<div class="flexCenterContainer">
  <h1 class="contentHeading">{{contentService?.currentPage?.title}}</h1>
  <markdown [data]="contentService?.currentPage?.content">
  </markdown>
</div>


<div class="flexCenterContainer">
  <div class="subpage" *ngFor="let p of contentService?.completePage?.subpages">
    <a *ngIf="p.url != route" routerLink="{{p.url}}">
      <p>{{p.title}}</p>
    </a>
    <p *ngIf="p.url == route">{{p.title}}</p>
  </div>
</div>